{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{current_user.username}}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}
            {{ form.post(cols=32, rows=4) }}
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
    <p>
        {% include '_post.html' %}
    </p>
    {% endfor %}
{% endblock %}